*{
    margin: 0;
    padding:0;
    text-decoration: none;
}
.containerW{
   display: flex; 
   padding: 0;
   top: 0;
   
}
main{
    width: 100%;
    padding:0;
   
}
.sidebar{
   background:rgb(223, 243, 251); 
   color: #fff;
   height: 100vh;
   width: 300px;
   transition: all 0.5s;
   left: 50px;
}
.top_section{
    display:flex;
    align-items: center;
    padding: 50px 15px; 
}
.logo{
    font-size: 30px;
    color: #000;
}
.bars{
    font-size: 25px;
    display:flex;
    margin-left: 120px;
    cursor: pointer;
    color:#000;
}
.link{
    display: flex;
    color:#000;
    padding:10px 15px;
    margin-left: 50px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:rgb(197, 222, 239);
    color:#000;
    transition:all 0.5s;
}
.active{
    /* background:rgb(174, 184, 246);
    color:#000 */
}
.icon {
    color: #000;
}
.icon, .link_text {
    font-size:20px;
}